%script
  = "display_map(#{@location.latitude}, #{@location.longitude}, 13);"
  - @venues.each do |v|
    = "add_marker(#{v.latitude}, #{v.longitude}, 'Title', '#{v.id}', '#{v.name.gsub("'","")}', '#{v.distance}', '#{v.location.address}', '#{v.address}', '#{v.crossStreet}');"