%h2.title=@venue.name
-@photos.each do |photo|
  =image_tag(photo.url, :style => "height: 100px; width: 100px; float: left;")
%h5#sorry_sm{:style => 'clear:both;'}= "@#{@venue.twitter}" if @venue.twitter.present?
%h6#sorry_sm{:style => 'clear:both;'}= "+1#{@venue.phone}" if @venue.phone.present?
/ %h5= link_to("Visit #{@venue.name}", url => "#{@venue.url}") if @venue.url.present?
- if @venue.ratio > 0.0
  %h3#gender{:style => 'clear:both;'}="#{(@venue.ratio * 100).to_i}% Girls, #{(100 - (@venue.ratio * 100)).to_i}% Guys. Foursquare rating: #{(@venue.foursquare_rating.round(2) * 100).to_i}%"
-else
  %h3#gender{:style => 'clear:both;'}="#{(@venue.foursquare_rating.round(2) * 100).to_i}% foursquare rating"

-if !@photos.present?
  %h5= "Sorry, foursquare hasn't supplied much info on #{@venue.name}. Why don't you go out there and find out ;)"