= form_tag '/new_map', :remote => true do
  = text_field_tag "serchmap", nil, :autofocus => true
  = select(:motivations, :name, options_for_select([["All Nightlife"], ["All Bars"], ["Dive Bars"], ["Gay Bars"], ["Lounges"], ["The Club Scene"]]))
  = submit_tag 'Cruise Joints', :class => 'test_btn', :id => 'submit_button'
.row
  .large-4.columns
    %h3#header_cruise
    #map_daddy
      #map_canvas
        = render 'map'
.row
  .large-4.columns
    #top_venues
      =render 'venue_list'
    .table
      .tr
      .td
.row
  .five.columns
    %h3#header_cruise New Friend
    #friend_form
      = render 'friends/form'
.row
  .seven.columns
    #friends
      %table
      - @friends.each do |f|
        %tr
          %td= f.name
          %td= f.phone
#venue_show.reveal-modal
  #TheLowDown
  #donut-example
  %a.close-reveal-modal.fuck{:style => "color: #000044; font-style: bold;"} x